body {
    background-color: black;
}

.button {
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
}

.button:hover {
    background: red;
    color:#fff;
}

.p-box {
    width: 1000px;
    height: 756px;
    border: 1px solid red;
    position: relative;
    background-image: url("../images/cosmere_solar.png");
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 30px;
}

.p-box a {
    position: absolute;
    top: 60px;
    left: 70px;
}