.text-success {
    color: green;
}
.text-danger {
    color:red;
}
.text-special {
    font-style: italic;
    font-weight: bolder;
}
.buttons {
    color: black;
    padding: 5px;
    border: solid 2px black;
    background-color: grey;
    width: 200px;
    position: center;
    margin-left: 90px;
}
.inputStyle {
    padding: 5px;
    margin: 10px;
    text-align: center;
    width: 340px;
}